absl-py==2.4.0
aiohappyeyeballs==2.6.2
aiohttp==3.14.1
aioice==0.10.2
aiortc==1.14.0
aiosignal==1.4.0
async-timeout==5.0.1
attrs==26.1.0
av==16.1.0
backoff==2.2.1
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
colorama==0.4.6
contourpy==1.3.2
cryptography==49.0.0
cycler==0.12.1
dataclasses-json==0.6.7
defusedxml==0.7.1
dnspython==2.8.0
flatbuffers==25.12.19
fonttools==4.63.0
frozenlist==1.8.0
google-crc32c==1.8.0
idna==3.18
ifaddr==0.2.0
inference-sdk==1.3.2
jax==0.6.2
jaxlib==0.6.2
kiwisolver==1.5.0
marshmallow==3.26.2
matplotlib==3.10.9
mediapipe==0.10.14
ml_dtypes==0.5.4
multidict==6.7.1
mypy_extensions==1.1.0
numpy==2.2.6
opencv-contrib-python==4.13.0.92
opencv-python==4.10.0.84
opt_einsum==3.4.0
packaging==26.2
pillow==12.2.0
propcache==0.5.2
protobuf==4.25.9
py-cpuinfo==9.0.0
pycparser==3.0
pyDeprecate==0.9.0
pyee==13.0.1
pylibsrtp==1.0.0
pyOpenSSL==26.3.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.34.2
scipy==1.15.3
six==1.17.0
sounddevice==0.5.5
supervision==0.29.0.post0
tqdm==4.68.3
typing-inspect==0.9.0
typing_extensions==4.15.0
urllib3==2.7.0
yarl==1.24.2
